# Virtuele omgevingen
venv/
Lib/
*.dll

# Build output
dist/
*.exe
*.zip

# __pycache__ en tijdelijke Python-bestanden
__pycache__/
*.pyc
*.pyo

# IDE-specifiek (optioneel, maar handig als je met VS Code werkt)
#.vscode/

#build
build/ 